// src\styles\components\_checkbox.scss

.custom-checkbox {
  display: flex;
  align-items: center;
  .custom-control-label {
    line-height: 40px;
    margin-left: 10px;
    cursor: pointer;
    &::before {
      border-width: 2px;
      background-color: transparent;
      border-radius: 50%;
      width: 27px;
      height: 27px;
      border-color: white;
      left: -35px;
    }

    &::after {
      transition: background-size 0.15s ease-in-out;
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 50%;
      background-size: 0%;
      top: 10px;
      left: -30px;
    }
  }

  .custom-control-input:checked {
    &~.custom-control-label {
      &::after {
        transition: background-size 0.15s ease-in-out;
        background-size: 100%;
        background-image: url("~/assets/images/icons/icon-tick.png");
      }
      &::before {
        background-image: linear-gradient( 145deg, rgb(2,67,4) 0%, rgb(3,254,121) 100%);
        background-image: -moz-linear-gradient( 145deg, rgb(2,67,4) 0%, rgb(3,254,121) 100%);
        background-image: -webkit-linear-gradient( 145deg, rgb(2,67,4) 0%, rgb(3,254,121) 100%);
        background-image: -ms-linear-gradient( 145deg, rgb(2,67,4) 0%, rgb(3,254,121) 100%);
        box-shadow: none;
        border: 0;
      }
    }
  }

  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: white;
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
  }

}
